@media (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr;
        column-gap: 50px;
        row-gap: 40px;    
    } 
    .tgrid-start1{
        grid-column-start: 3;
        grid-column-end: 4;  
        grid-row-start: 1; 
    }
    .tgrid-start2{
        grid-column-start: 2;
        grid-column-end: 3;  
        grid-row-start: 1; 
    }
    .tgrid-start3{
        grid-column-start: 2;
        grid-column-end: 3;  
        grid-row-start: 2; 
    }
    .tgrid-start4{
        grid-column-start: 3;
        grid-column-end: 5;  
        grid-row-start: 2; 
       
    }
    .tgrid-start5{
        grid-column-start: 2;
        grid-column-end: 3;  
        grid-row-start: 2; 
    }
    .tgrid-start6{
        grid-column-start: 2;
        grid-column-end: 3;  
        grid-row-start: 3; 
    }

}
@media (min-width: 1024px){
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr;
        column-gap: 150px;
        row-gap: 80px;    
    } 
    .dgrid-start1{
        grid-column-start: 2;
        grid-column-end: 3;  
        grid-row-start: 1; 
    }
    .dgrid-start2{
        grid-column-start: 3;
        grid-column-end: 4;  
        grid-row-start: 1; 
    }
}

