/*images & vidéos*/
img{
    max-width: 100%; 
    border-radius: 8px;
}
.figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.deco{
    position: absolute;
    max-width: 30%;
    left: 0;

    &__droite{
        top: 532px;

        &--bis{
            top: 1960px;

            &--position{
                top: 2066px;
    
            }
        }

        &--tasse{
            top: 3400px;

            &--position{
                top: 5148px;
            }
        }
        &--eclaire{
            top: 6312px;
        }
        
        /*&--gummies{
            right: 276px;
            top: 570px;
        }
        &--eu{
            top: 884px;
        }*/
    }
    &__gauche{
        left: 293px;
        top: 915px;

        &--bis{
            top: 2780px;

            &--position{
                top: 2584px;
            }
        }

        &--the{
            top: 3615px;

            &--position{
                top: 5402px;
            }
        }
        &--patch{
            top: 6715px;
        }
        &--position{
            top: 1161px;
            left: 293px;
        }

        /*&--gummies{
            left: 269px;
            top: 980px;
        }
        &--euro{
            left: 295px;
            top: 1459px;
        }*/
        
    }
    
    /*&__rond{
        left: 286px;
        top: 3000px;
        &--top{
            left: -18px;
            top: 2255px;
        }
        &--bis{
            left: 270px;
            top: 3066px;
        }
        &--position{
            left: 315px;
            top: 2504px;
        }
    }
    &__feuille{
        right: 279px;
        top: 2229px;
    }
    &__sachet{
        top: 3620px;
        left: 322px;
        rotate: 18deg;
    }
    &__tasse{
        top: 3385px;
        left: -4px;
    }
    &__patch{
        top: 6822px;
        left: 321px;
        rotate: 44deg;
    }
    &__eclaire{
        left: -11px;
        top: 6433px;
    }
    &__terre{
        left: -17px;
        top: 5647px;
        rotate: 29deg;
    }
    &__serviette{
        top: 5875px;
        left: 291px;
        rotate: 404deg;
    }
    &__position{
        left: -3px;
        top: 3981px;
        &--bis{
            left: 293px;
            top: 4453px;
        }
    }*/
}
.fantaisie{
    background-image: url(../assets/images/deco/deco.svg);
    background-size: contain;
    background-position: -225px 199px;
    background-repeat: no-repeat;
}
.rectangle{
    position: absolute;
    bottom: 332px;

   /* &__top{
        bottom: -57px;
    }*/
    &__position{
        bottom: 402px;

        &--bis{
            bottom: 241px;
        }
    }
}
.illu{
    z-index: 2;
    position: relative;
    top: 0;

   /* &__bulle--bis{
        top: 81px;
    }
    &__intro{
        top: 333px;
        left: 95px;
        position: absolute;
        z-index: 1;
        
    }*/
}
.rond{
    position: absolute;
    width: 71px;
    height: 71px;
    left: 11px;
    top: 10px;
    border-radius: 40px;

    background: var(--color-rec);

    &__reu{
        background: var(--color-rond);
    }
}
.tips{
    position: relative;
    display: inline-flex;
    background-image: url(../assets/images/picto/gummies.svg);
    background-repeat: no-repeat;
    background-position: 7px;
    width: 75px;
    height: 215px;
    left: -20px;

    &__infusion{
        background-image: url(../assets/images/picto/infusion.svg);
    }
    &__huile{
        background-image: url(../assets/images/picto/huile.svg);
    }
    &__bouillotte{
        background-image: url(../assets/images/picto/bouillotte.svg);
    }
}
.protection{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    border: 1px solid var(--color-border);
    border-radius: 8px;

    background-image: url(../assets/images/protections/serviette.svg);
    background-repeat: no-repeat;
    background-position: center;

    width: 209px;
    height: 281px;
    padding: 20px;
    margin: inherit;

    &__tampon{
        background-image: url(../assets/images/protections/tampon.svg);
    }
    &__cup{
        background-image: url(../assets/images/protections/cup.svg);
    }
    &__eponge{
        background-image: url(../assets/images/protections/eponge.svg);
    }
    &__culotte{
        background-image: url(../assets/images/protections/culotte.svg);
    } 
    &__slip{
        background-image: url(../assets/images/protections/slip.svg);
    } 
    &__reu{
        background-image: url(../assets/images/protections/reu.svg);
    } 
    &__maillot{
        background-image: url(../assets/images/protections/maillot.svg);
    } 
}
.logo{
    position: relative;
    width: 400px;

    &__menu{
        top: 11px;
        left: 17px;
        width: 122px;
    }
}
.dwm{
    width: 30px;
}
.video{
    max-width: 70%;
    padding: 50px;
    border-radius: 55px;
    z-index: 1;
}

/*section*/
.contenair{
    margin: auto;
    max-width: 450px;
}
.header{
    padding: 20px;
    margin: 0;
    position: fixed;
    background-color: var(--color-bg);
    z-index: 4;
    width: 100%;

    &__width{
        left: -12px;
        top: 0;
    }

    
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 10px;
    
    &__deco{
        background-image: url(../assets/images/deco/deco.svg);
         background-size: contain;
         background-position: 144px 614px;
         background-repeat: no-repeat;
    }
    &__bleu{
        background-color: var(--color-rec);
    }
    &__yellow{
        background-color: var(--color-rec--2);

        &--bis{
            margin-top: 70px;
        }
    }
    &__height{
        margin-top: 70px;
    }
    &__size{
        gap: 20px;
    }
    
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-rec);
    padding: 50px;
    z-index: 1;
    position: relative;
    gap: 20px;
  

    &__margin{
        top: 0;
    }
}
/*bouton*/
.bouton{
    position: relative;
    background-color: var(--color-bg);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    color: var(--color-text);
    padding: 14px 24px;
    border-radius: 8px;
    z-index: 2;
    margin: 10px;

    &:hover{
        background-color: transparent;
        border: 2px solid var(--color-btn);
    }
    &__blanc:hover{
        border: 2px solid var(--color-bg);
    }
    &__mauve{
        background-color: var(--color-btn);
        top: 16px;
    }

    &__blanc{
        bottom: 23px;
    }
}

@media (min-width: 600px){
    .contenair{
        max-width: 900px;
    }
    .section{
    
        &__yellow{
            

            &--bis{
                height: 756px;
            }
        }
        &__deco{
            background-position: 499px -10px;
        }

    }
    .rectangle{
        left: 438px;
        width: 352px;
        top: 62px;

        &__position{
            top: 118px;

            &--bis{
                top: 212px;
                left: 438px;
                width: 432px;
            }
        }

       /* &__top{
            top: -12px;
            left: 517px;
        }*/
    }
    .deco{
        width: 280px;
        left: -60px;
        top: 440px;

        &__droite{
            &--bis{
                top: 1350px;

                &--position{
                    top: 1427px;
                }
            }

            &--tasse{
                top: 2234px;

                &--position{
                    top: 3587px;
                }
            }

            &--eclaire{
                top: 4399px;
            }
            /*&--eu{
                left: -27px;
                width: 240px;
            }*/
        }

        &__gauche {
            left: 657px;

            &--bis{
                top: 2100px;

                &--position{
                    top: 1738px;
                }
            }

            &--the{
                top: 2234px;

                &--position{
                    top: 3587px;
                }
                
            }

            &--patch{
                top: 4399px;
            }
            &--position{
                top: 540px;
            }
           
           /* &--euro{
                left: 658px;
                top: -47px;
            }*/
        }

        /*&__feuille{
            right: 633px;
            top: -103px;
            width: 237px;
        }

        &__rond{
            width: 237px;
            left: 626px;
            top: 399px;
            &--top{
                left: -58px;
                top: -132px;
            }
            &--bis{
                top: 241px;
            }
            &--position{
                top: -71px;
                left: 703px;
            }
        }
        &__tasse{
            top: -127px;
        }
        &__sachet{
            top: -127px;
            left: 625px;
        }
        &__eclaire{
            top: -68px;
            left: -77px;
        }
        &__patch{
            top: -68px;
            rotate: -8deg;
            left: 662px;
        }
        &__terre{
            width: 210px;
            top: -79px;
        }
        &__serviette{
            width: 224px;
            top: -58px;
            left: 692px;
            rotate: 20deg;
        }
        &__position{
            top: -63px;

            &--bis{
                left: 606px;
            }
        }*/
    }
    .video{
        padding: 46px;
    }
    .figure{
        width: 392px;

        &__position{
            position: absolute;
            left: 646px;
            top: 3668px;

            &--bis{
                top: 3779px;
            }
        }
        
    }
    .illu{
        max-width: 354px;
        width: 366px;
     

        /*&__bulle{
            padding: 0;
            margin: 0;
            top: 0;
        }
        &__protect{
            top: 3px;
        }
        &__girls{
            width: 289px;
            top: -107px;
        }
        &__inclu{
            width: 264px;
            top: 11px;
        }*/

    }
    .bouton{
        &__blanc{
            width: 198px;
            bottom: 0;
        }
        &__mauve{
            width: 196px;
            top: 0;

            &--bis{
                top: 154px;
            }
        }
        
    }
    .tips{
        width: 134px;
    }
    .fantaisie{
        background-position: -360px 19px;
    }
    .logo{

        &__menu{
            top: 49px;
            left: 27px;
        }
    }
    .protection{
        display: inline-flex;
        width: 192px;
    }
    .header{
        padding: 20px;
        top: -4px;

        &__width{
            margin: -57px;
            left: 30px;
        }
    }
    /*.images{
        margin-left: 30px;
        width: 300px;

        &__book{
            width: 100px;
            margin-top: -110px;
        }
    }*/

}
@media (min-width: 1024px){
    .contenair{
        max-width: 1800px;
    }
    .illu{
        max-width: 488px;
        width: 531px;
        /*&__bulle{
            top:5px
        }
        &__protect{
            top: 0;
        }
        &__intro{
            left: 704px;
            top: 0;
        }
        &__girls{
            width: 390px;
        }
        &__inclu{
            width: 380px;
            top: 11px;
        }*/
    }
    .rectangle{
        left: 830px;
        width: 500px;
        top: 90px;

        &__position{
            left: 825px;
            top: 150px;
        }/*
        &__top{
            top: 9px;
            left: 850px;
        }*/
    }
    .deco{
        max-width: inherit;
        width: 450px;
        top: 600px;

        &__gauche{
         left: 1100px; 

            &--bis{
                top: 2700px;
                width: 300px;
            }
            &--the{
                top: 3133px;
            }
            &--patch{
                top: 5958px;
            }
            /*&--euro{
                left: 1185px;
                top: -82px;
            }*/
        }
        &__droite{
         
            &--bis{
                top: 1920px;
                width: 300px;
            }

            &--tasse{
                top: 3133px;
            }

            &--eclaire{
                top: 5958px;
            }

            /*&--eu{
                left: -26px;
                top: -106px;
                width: 275px;
            }*/
        }
        /*&__feuille{
            right: 1228px;
            top: -135px;
        }
        &__rond{
            left: 1170px;
            top: 445px;

            &--top{
                left: -62px;
                top: -189px;
            }
            &--bis{
                top: 117px;
            }
            &--position{
                top: -68px;
            }
        }
        &__sachet{
            left: 1176px;
        }
        &__patch{
            left: 1199px;
        }
        &__terre{
            width: 275px;
            top: -124px;
        }
        &__serviette{
            width: 275px;
            left: 1230px;
        }
        &__position--bis{
            left: 1100px;
        }*/

    }
    .tips{
        left: -20px;
        height: 89px;
        background-position: 150px;
        width: 280px;
        font-size: 24px;
    }
    .video{
        max-width: 396px;
    }
    .section{
        padding: 50px;

        &__deco{
            background-position: 1082px;
        }

        &__yellow{
      

            &--bis{
                height: 750px;
            }
        }
    }
    
    .fantaisie{
        background-position: -448px;
    }
    .logo{
        max-width: 555px;
        width: 700px;

        &__menu{
            width: 10%;
            top: 54px;
        }
    }
    .bouton{
        margin: 20px;
        font-size: 18px;
        padding: 20px;

    
        &__mauve{
            left: -20px;
            width: 300px;
        }
        &__blanc--bis{
            width: 300px;
        }

    }
    .protection{
        height: 334px;
        width: 238px;
        margin: 25px;
    }
    img{
        max-width: 70%;
    }
    .images{
        width: 336px;

        &__size{
            width: 598px;
            max-width: 624px;
            height: 1026px;
        }
        
        /*&__bis{
            width: 357px;
        }
        &__book{
            width: 226px;
        max-width: 100%;
        }*/
        
    }
    .figure{
        &__position{
            top: 5051px;
            left: 1180px;

            &--bis{
                top: 5351px;
            }
        }
        /*&__images{
            position: absolute;
            width: 182px;
            left: 244px;
    
            &--bis{
                top: 321px;
            }
    
            &--top{
                top: 30px;
            }
        }*/
    }
   

}
@media (min-width:1750px) {
        .contenair{
            max-width: 2650px;
        }
        .rectangle{
            left: 900px;
        }
        .deco{
            width: 550px;
            top: 500px;
            &__gauche{
                left: 1420px;
            }
        }
       .section{
            padding: 100px;
       }
  }