/*images & vidéos*/
img{
    max-width: 100%; 
}
.deco{
    position: absolute;
    width: 137px;

    &__droite{
        right: 300px;
        top: 550px;
    }

    &__gauche{
        left: 355px;
        top: 809px;
    }
    &__rond{
        left: 322px;
        top: 2678px;
    }
    &__feuille{
        right: 257px;
        top: 1938px;
    }
}
.fantaisie{
    background-image: url(../assets/images/deco/deco.svg);
    background-size: contain;
    background-position: -264px 33px;
    background-repeat: no-repeat;
}
.illu{
    z-index: 2;
    position: relative;
    top: 0;

    &__rec{
        z-index: 1;
        top: 362px;
        left: 59px;
        position: absolute;
    }
    &__bulle{
        top: 61px;
    }
}
.tips{
    position: relative;
    display: inline-flex;
    background-image: url(../assets/images/picto/gummies.svg);
    background-repeat: no-repeat;
    background-position: 7px;
    width: 81px;
    height: 206px;
    left: -20px;

    &__infusion{
        background-image: url(../assets/images/picto/infusion.svg);
    }
    &__huile{
        background-image: url(../assets/images/picto/huile.svg);
    }
    &__bouillotte{
        background-image: url(../assets/images/picto/bouillotte.svg);
    }
}
.logo{
    position: relative;
    left: 12px;
    width: 400px;
}
.dwm{
    width: 30px;
}
.video{
    max-width: 70%;
    padding: 50px;
    border-radius: 55px;
    z-index: 1;
}

/*section*/
.contenair{
    margin: auto;
    max-width: 500px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    
    &__protec{
        background-image: url(../assets/images/deco/deco.svg);
         background-size: contain;
         background-position: 144px 614px;
         background-repeat: no-repeat;
    }

    &__talk{
        margin-top: 76px;
    }
    &__preca{
        background-color: var(--color-rec);
    }
    &__douleur{
        background-color: var(--color-rec--2);
    }
    
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-rec);
    padding: 50px;
    z-index: 1;
    position: relative;
    gap: 20px;
    top: 100px;
}
/*bouton*/
.bouton{
    position: relative;
    background-color: var(--color-bg);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    color: var(--color-text);
    padding: 14px 24px;
    border-radius: 8px;
    z-index: 2;

    &__mauve{
        background-color: var(--color-btn);
        top: 16px;
    
    }

    &__blanc--bis{
        bottom: 23px;
    }
}

@media (min-width: 768px){
    .contenair{
        max-width: 900px;
    }
    .section__intro{
        margin-top: 130px;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;

    }
    .section__douleur{
        padding: 30px;
        height: 465px;
    }
    .section__protec{
        background-position: 499px -10px;
    }
    .deco{
        width: 293px;

        &__droite{
            left: 691px;
            top: 477px;
        }

        &__gauche {
            left: -79px;
            top: 477px;
        }

        &__feuille{
            right: 714px;
            top: 1292px;
            width: 237px;
        }

        &__rond{
            width: 237px;
            left: 662px;
            top: 1810px;
        }
    }
    .video{
        max-width: 100%;
        padding: 46px;
    }
    .illu{
        max-width: 354px;
        width: 366px;
        top: -68px;

        &__bulle{
            padding: 0;
            margin: 0;
            top: 0;
        }
        &__rec {
            top: 104px;
            left: 377px;
        }
    }
    .bouton__mauve{
        top: 186px;
        width: 196px;
    }
    .bouton__mauve--bis{
        top: 154px;
    }
    .bouton__blanc--bis{
        width: 204px;
        top: 209px;
    }
    .tips{
        width: 151px;
        height: 135px;
        left: -15px;
        top: 117px;
    }
    .fantaisie{
        background-position: -360px 19px;
    }
    .logo{
        left: 0;
        top: -121px;
    }
   
}
@media (min-width: 1024px){
    .contenair{
        max-width: 1500px;
    }
    .illu__rec{
        top: 201px;
        left: 910px;
    }
    .deco__gauche{
        left: -27px;
        top: 650px;
    }
    .deco__droite{
        left: 1260px;
        top: 650px;
    }
    .deco__feuille{
        right: 1302px;
        top: 1659px;
    }
    .deco__rond{
        left: 1290px;
        top: 2288px;
    }
    .video{
        max-width: 70%;
    }
    .section__protec{
        background-position: 1082px;
    }
    .fantaisie{
        background-position: -210px;
    }
    .logo{
        max-width: 555px;
    }
    .bouton{
        margin: 20px;
    }
    .bouton__mauve--bis{
        left: -30px;
    }

}
@media (min-width:2000px) {
        .contenair{
            max-width: 2650px;
        }
        .deco{
            width: 442px;
            &__droite{
                left: 1860px;
                top: 820px;
            }
            &__gauche{
                top: 820px;
            }
            &__feuille{
                right: 1807px;
                top: 2257px;
            }
            &__rond{
                left: 1820px;
                top: 3000px;
            }
        }
        .illu{
            min-width: 559px;
            
            &__rec{
                left: 1320px;
                top: 205px;
            }
        }
        .logo{
            top: -184px;
        }
        .bouton{
            font-size: 20px;
            padding: 19px 30px;
            margin: 30px;
        }
        .bouton__mauve{
            width: 268px;
            left: -29px;
            top: 294px;
        }
        .bouton__blanc--bis{
            width: 296px;
            top: 332px;
            left: -27px;
        }
        .bouton__mauve--bis{
            top: 294px;
            width: 294px;
        }
        .tips{
            width: 245px;
            height: 176px;
            top: 179px;
        }
        .section__douleur{
            height: 627px;
        }
        .section__protec{
            background-position: 1438px;
        }
        .fantaisie{
            background-position: -381px;
        }
  }