body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  
.title {
    color: var(--color-text);
    font-family: 'DM Serif Display', serif;
    z-index: 1;
    position: relative;
    font-size: xx-large;

    /*&__carre{
        left: 99px;
    }*/
    &__sous{
        font-size: x-large;
      
        /*&--width{
             width: 317px;
        }*/
    }
    &__width{
        width: 259px;
        margin: 0;
    }/*
    &__sous--width{
        width: 317px;
    }*/
    &__color{
        color: #C95353;
        font-size: 80px;
        margin: 0;
    }/*
    &__intro{
        width: 265px;
        top: -61px;
    }*/
}
.texte{
    width: 351px;

}

a{
    color: var(--color-text);
    list-style: none;
    text-decoration: none;
}
p{
    width: 308px;
}
.categorie{
    font-size: 10px;
    width: 20px;
    margin: 19px;

    &__reu{
        margin-top: 27px;
        margin-left: 9px;
    }
}
@media (min-width: 600px){
    .intro{
        position: relative;
        top: 30px;
    }
    .title{
        font-size: 32px;
        z-index: 2;

       /* &__protec{
            top: -196px;
        }
        &__tab{
            top: -211px;
        }
        &__bis{
            bottom: 143px;
        }
        &__position{
            top: -140px;
        }
        &__grid{
            top: -90px;
        }*/
        &__sous{
            font-size: x-large;
            top: -62px;

            &--bis{
                top: 0;
            }
            &--top{
                top: -111px;
            }
            
        }
        &__width{
            width: 396px;

            /*&--bis{
                top: -1px;
                width: 440px;
            }*/
        }/*
        &__sous--width{
            font-size: x-large;
            top: -131px;
            width: 420px;
        }*/
        &__color{
            font-size: 90px;
            width: 400px;
        }/*
        &__intro{
            width: 452px;
            &--bis{
                top: -91px;
            }
        }*/
    }
  
    .texte{
        width: 544px;
        

       /* &__position{
            top: -52px;
            width: 321px;

            &--bis{
                top: 4px;
            }
        }
        &__grid{
            width: 421px;

            &--bis{
                top: 69px;
            }
        }
        &__huile{
            top: -98px;

            &--bis{
                top: -16px;
            }
        }
        &__infusion{
            top: -32px;

            &--bis{
                top: 47px;
            }
        }*/
    
    }
    /*.text{
        top: -68px;

        &__tab{
            top: -137px;
         }
         &__width{
             width: 526px;
             &--bis{
                top: -16px;
             }
         }
    }
   */
    .largeur{
        width: 456px;
    }
   

}
@media (min-width: 1024px){
    .texte__width{
        width: 800px;
    }
    .texte{
        width: 798px;
    }
    .title{
        font-size: 48px;
        /*&__protec{
            width: max-content;
        }
        &__bis,
        &__tab{
            width: 460px;
        }*/
        &__sous{
            font-size: 32px;
            width: max-content;
            top: -101px;

            &--bis{
                top: 0;
            }

            &--width{
                width: 542px;
                top: -133px;
            }
        }
        
        &__color{
            font-size: 150px;
            width: 600px;
          
        }/*
        &__intro{
            top: -10px;
            width: 544px;
            &--bis{
                top: -116px;
            }
        }*/
        &__width{
            width: 573px;
            /*&--bis{
                top: -20px;
            }*/
        }
    }
    /*.text{
        top: -57px;

        &__bis{
            width: 509px;
        }
        &__width{
            width: 559px;
        }
        &__tab{
            top: -127px;
        }
    }
  */
    p{
        width: 549px;
        font-size: 24px;
    }/*
    .categorie{
        font-size: 12px;
        margin: 16px;

        &__reu{
            margin-top: 27px;
            margin-left: 3px;
        }
    }*/
    .largeur{
        width: 666px;

        
    }
    
    /*
    .texte__grid{
        width: 541px;
        height: 76px;

        &--height{
            height: 635px;
        }
    }
    .texte__infusion{
        top: -10px;

        &--bis{
            top: 28px;
        }
    }*/
}
@media (min-width: 1750px) {
    
   .title__width{
        width: 862px;
   }
   .largeur{
        width: 808px;
   }
  
}