body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  
.title {
    color: var(--color-text);
    font-family: 'DM Serif Display', serif;
    z-index: 1;
    position: relative;

    &__carre{
        left: 99px;
    }
}
.text{
    width: 351px;
    position: relative;
}
a{
    color: var(--color-text);
    list-style: none;
    text-decoration: none;
}
p{
    width: 308px;
}
.categorie{
    font-size: 10px;
    width: 20px;
    margin: 19px;

    &__reu{
        margin-top: 27px;
        margin-left: 9px;
    }
}
@media (min-width: 768px){
    .intro{
        position: relative;
        top: 30px;
    }
    .title{
        font-size: 32px;
        z-index: 2;
    }
    .title__protec{
        top: -196px;
    }
    .title__tab{
        top: -211px;
    }
    .title__bis{
        bottom: 143px;
    }
    .texte{
        position: relative;
    }
    .text{
        top: -68px;
    }
    .text__tab{
       top: -137px;
    }
    .text__bis{
        width: 520px;
    }

}
@media (min-width: 1024px){
    .title__protec{
        width: max-content;
    }
    .text__bis{
        width: 509px;
    }
    .title__bis{
        width: 400px;
    }
    p{
        width: 377px;
    }
    .categorie{
        font-size: 12px;
        margin: 16px;
        &__reu{
            margin-top: 27px;
            margin-left: 3px;
        }
    }
}
@media (min-width: 2000px) {
    body{
        font-size: 24px;
    }
    .title {
        font-size: 48px;
    }
    .title__protec{
        top: -294px;
    }
    .title__tab{
        width: 494px;
        top: -269px;
    }
    .title__bis{
        bottom: 233px;
        width: 454px;
    }
    .text{
        width: 563px;

        &__tab{
            top: -156px;
        }
        &__bis{
            width: 780px;
        }
        
    }
    .tips{
        top: 154px;
    }
    p{
        width: 470px;
    }

  }