:root{
    --color-bg: #F9FAF9;
    --color-text: #000000;
    --color-btn: #D7AFDD;
    --color-rec: #C1DFEF;
    --color-rec--2: #FAE2C9;
    --color-border: #AE7864;
    --color-rond: #C1EFE1;
    --color-link: #7D4AEA;
}